{% include "store/base.html" %}
{% load static %}
{% load mathfilters %}
{% block content %}

<main class="pt-5">
    <div class="container">
        <h1 class="h5"> Shopping cart </h1>
        <hr>
        {% for item in cart %}
        {% with product=item.product %}
        <br>
        <div class="row mb-4 border product-item">
            <div class="col-md-3 col-lg-2 order-md-first bg-light">
                <img class="img-fluid mx-auto d-block" width="200px" alt="Responsive image" src="{{ product.image.url }}">
            </div>
            <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
                <a href="{{product.get_absolute_url}}" class="text-info text-decoration-none">
                    <h1 class="h5 pt-2">{{ product.title }}</h1>
                </a>
                <div class="border">
                    <div class="col border-bottom">
                        <div class="row p-3">
                            <div class="col-6"> Product </div>
                            <div class="col-6 text-end"><span class="h6 fw-bold">$ {{ product.price|mul:item.qty }}</span></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row p-3">
                            <div class="col-12">
                                <label for="select{{product.id}}">Qty</label>
                                &nbsp;
                                <select id="select{{product.id}}" class="product-qty">
                                    <option value="{{ item.qty }}" selected>{{ item.qty }}</option>
                                    {% for i in "1234" %}
                                    <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                                <br><br>
                                <button type="button" data-index="{{ product.id }}" class="btn btn-primary btn-sm update-button">
                                    Update
                                </button>
                                &nbsp;
                                <button type="button" data-index="{{ product.id }}" class="btn btn-danger btn-sm delete-button">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endwith %}
        {% endfor %}
        <div class="col-12 text-end">
            <div class="h6 fw-bold"> Sub total: $ <div id="total" class="d-inline-flex">{{cart.get_total}}</div></div>
        </div>
    </div>
</main>

<script>
// Update button functionality
$(document).on('click', '.update-button', function(e) {
    e.preventDefault();
    let theProductId = $(this).data('index');
    let selectedQty = $('#select' + theProductId + ' option:selected').val();

    $.ajax({
        type: 'POST',
        url: '{% url "cart-update" %}',
        data: {
            product_id: theProductId,
            product_quantity: selectedQty,
            csrfmiddlewaretoken: "{{ csrf_token }}",
            action: 'post'
        },
        success: function(json) {
            location.reload(true); // Reload the page after update
        },
        error: function(xhr, errmsg, err) {
            console.error('Error:', errmsg);
        }
    });
});

// Delete button functionality
$(document).on('click', '.delete-button', function(e) {
    e.preventDefault();
    let theProductId = $(this).data('index');

    $.ajax({
        type: 'POST',
        url: '{% url "cart-delete" %}',
        data: {
            product_id: theProductId,
            csrfmiddlewaretoken: "{{ csrf_token }}",
            action: 'delete'
        },
        success: function(json) {
            location.reload(true); // Reload the page after deletion
        },
        error: function(xhr, errmsg, err) {
            console.error('Error:', errmsg);
        }
    });
});
</script>

{% endblock %}
