{% extends "store/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  <style>
    body{
      background-color: gray;
    }
  </style>
  <body>
    <br> <br>
    <div class="container bg-white shadow-md p-5 form-layout">
      <h3>Delete your account</h3>
      <hr>
      <p> Are you sure that you want to delete account? </p>
      <br>
      <form method="POST" autocomplete="off">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary navbar-btn text-white">Delete your account</button>
        <br> <br>
        <a type="button" href="{% url 'profile-management' %}" class="btn btn-success navbar-btn text-white">Go back</a>
      </form>
    </div>
  </body>
  <br> <br>
{% endblock %}